@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 0 100% 15%;
    --secondary-foreground: 0 100% 15%;
    --popover-foreground: 210 33% 15%;
    --primary-foreground: 220 100% 15%;
    --accent-foreground: 180 100% 15%;
    --muted-foreground: 210 33% 20%;
    --card-foreground: 210 33% 12%;
    --destructive: 0 100% 70%;
    --background: 210 33% 98%;
    --foreground: 210 33% 10%;
    --secondary: 0 100% 80%;
    --popover: 210 33% 95%;
    --primary: 220 100% 80%;
    --border: 210 33% 85%;
    --accent: 180 100% 80%;
    --muted: 210 20% 72%;
    --input: 210 33% 56%;
    --card: 210 33% 97%;
    --ring: 210 33% 30%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}